@import './var';
@import './mixins';

// 盒子模型
@for $i from 0 through 12 {
  @include generate-box(m, $i);
  @include generate-box(p, $i);
}

// 定位
.pr {position: relative;}
.pa {position: absolute;}
.pf {position: fixed;}

// 文字大小
.f10 {font-size: 10px;}
.f12 {font-size: 12px;}
.f14 {font-size: 14px;}
.f15 {font-size: 15px;}
.f17 {font-size: 17px;}
.f20 {font-size: 20px;}
.f24 {font-size: 24px;}

// 文本对齐
.tl {text-align: left;}
.tc {text-align: center;}
.tr {text-align: right;}