// 常用文本
$antd-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';

// 基础色
$base-color: #008aff;
$light-color: #52baff;
$dark-color: #006cd9;
// 常用状态色
$success-color: #19be6b;
$info-color: #2db7f5;
$wraning-color: #ff9900;
$error-color: #ed4014;
// 常用构造色
$title-color: #17233d;
$content-color: #515a6e;
$sub-color: #808695;
$disabled-color: #c5c8ce;
$border-color: #dcdee2;
$divider-color: #e8eaec;
$background-color: #f8f8f9;

// 常用间隙大小
$gap-size-xs: 4px !default;
$gap-size-sm: 8px !default;
$gap-size: 10px !default;
$gap-size-md: 16px !default;
$gap-size-lg: 24px !default;
$gap-size-xl: 32px !default;
$gap-size-base: 2px !default;
